extends layout

block content
    title='Pokemon Center - Delete user'
    div(class='text-center center-div')
        div(class='container w-25 border py-3')
            h1=title
            form(method='POST' action='')
                div(class='text-center center-div' style ='padding: 20px' id='delete')
                    button.btn.btn-primary(type='submit') Yes
            form(action='/dashboard')
                button.btn.btn-primary() No